*{
	margin: 0;
	padding: 0;}

body{
	font-size: 18px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	text-align: center;}
section{
	padding: 80px 0;}
h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 60px;
	position: relative;
	padding: 0 20px;
	margin-top: 0;
	margin-bottom: 50px;}
h2:after{
	content: "";
	background-image:url(../../images/40.png);
	width: 40px;
	height: 40px;
	position: absolute;
	top:15px;
	left:35%;}

/*header*/
.navbar-brand{
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;}
.navbar {
    margin-bottom: 0px;
}
.navbar-toggle {
    margin-right: 80px;
}
.navbar-right {
    margin-right: 40px;
}
/*.navbar-inverse .navbar-nav > li > a.current{
	color: #fff;
}*/
.navbar-inverse .navbar-nav > li > a:focus {
    color: #9d9d9d;
}


#intro{
	background-image: url(../../images/Lion.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;}
#intro .slogan{
	color: #fff;}
h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 80px;
	padding: 2% 0;}
.slogan{
	margin-top: 12%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 30px;}
.buttons{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;}
.buttons a{
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	padding: 5px 30px;
	margin: 10% 5%;
	width: 300px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;}
.buttons a:hover{
	background-color: #cc9966;
	text-decoration: none;}
.buttons a:focus{
	text-decoration: none;}

/*portfolio*/
.portfolio-item{
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-item .description{
	display: flex;
    flex-direction: column;
    height: 300px;
    padding: 50% 2% 0;
    background-color: #222;
    transition: all 1s;
}
.portfolio-item .description p{
	color: #fff;
}
.portfolio-item .description p.desc-name{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	font-weight: bold;
	color: rgb(204,153,102);
	text-transform: uppercase;
	letter-spacing: 1px;
}
.portfolio-item .description p.desc-use{
	color: #82888a;
	font-size: 14px;
}
.portfolio-item .pic{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.portfolio-item .pic-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(204,153,102,0.6);
}
.portfolio-item .pic-link a{
    font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #222;
	text-decoration: none !important;
	transition: all 1s;
	opacity: 0;
}
.portfolio-item:hover .description{
	padding-top: 5%;
	transition: all 1s;
}
.portfolio-item:hover .pic{
    top: 50%;
    left: 10%;
    width: 80%;
    height: 50%;
    transition: all 1s;
}
.portfolio-item:hover .pic-link{
    background-color: rgba(204,153,102,0.9);
}
.portfolio-item:hover .pic-link a{
    font-size: 24px;
    color: #fff;
    transition: all 1s;
    opacity: 1;
}
.row-more-projects{
	display: none;
}
.row-btn-more a{
	display: inline-block;
	margin-bottom: 30px;
	background-color: #cc9966;
	border: 1px solid #cc9966;
	color: #fff;
	padding: 10px 30px;
	transition: 1s;
}
.row-btn-more a:hover, .row-btn-more a:focus{
	background-color: #fff;
	color: #cc9966;
	text-decoration: none;
	transition: 1s;
}


/*about*/
#about, #skills{
	background-color: #cc9966;}
#about h2:after{
	left:34%;}
#about p{
	text-align: left;
	margin-bottom: 10px;}
#about a{
	display: inline-block;
	padding: 10px 30px;
	margin-top: 30px;
	border: 1px solid #fff;
	color: #fff;
	background-color: #cc9966;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;}
#about a:hover{
	outline: none;
	border: 1px solid #333;
	color: #cc9966;
	background-color: #fff;
	text-decoration: none;}
#about a:focus, #about a:active{
	outline: none;
	text-decoration: none;}
#about .ab-cont{
	display: inline-block;
	padding: 3px;
	margin-top: 0;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	border: none;
	color: #333;
	background-color: transparent;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;}
#about .ab-cont:hover{
	outline: none;
	border: none;
	color: #333;
	background-color: transparent;
	text-decoration: underline;}
/*skills*/
.skills-name{
	font-weight: bold;
	font-size: 20px;
}
.percentCount {
    display: none;
}

/*contact*/
#contact h2:after{
	left:32%;}

#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #222;
	background-color: rgba(204, 153, 102, 0.2);
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;}
#contact .form-control:focus {
	border-color: #333;
	background-color:#cc9966;
	color: #fff;
	outline: 0;
	-webkit-box-shadow: transparent;
	        box-shadow: transparent;}
.form-control::-webkit-input-placeholder {
	color: #333;}
.form-control::-moz-placeholder {
	color: #333;}
.form-control:-ms-input-placeholder {
	color: #333;}
.form-control::-ms-input-placeholder {
	color: #333;}
.form-control::placeholder {
	color: #333;}

#contact .btn-lg{
	border-radius: 0;
	border:1px solid transparent;
	background-color: #cc9966;
	color: #fff;
	padding: 10px 30px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;}
#contact .btn-lg:hover, #contact .btn-lg:active, #contact .btn-lg:focus{
	border:1px solid #cc9966;
	background-color: #fff;
	color: #cc9966;
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;}
.socseti{
	margin-top: 60px;}
.socseti ul li{
	list-style: none;
	display: inline-block;
	margin: 0 25px;}
.socseti ul li a{
	color: #cc9966;
	font-size: 30px;
	text-decoration: none;
	padding: 4px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;}
.socseti ul li a:hover{
	color:#333;}

/*ajax-loader*/
form #loader{
	margin-top: 20px;
}
#ok{
	margin-top: 20px;
    font-size: 0.8em;
}

/*footer*/
footer{
	padding: 30px 0;
	background-color: #cc9966;}
footer span{
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	color: #fff;}


/* GitHub corner */
#github-corner {
	position: absolute;
	top: 0;
	right: 0;
}
.github-corner__svg {
	fill: #82888a;
	color: #2c2d31;
	position: fixed; 
	top: 0; 
	border: 0; 
	right: 0;
	z-index: 1050;
}
#github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width:500px) {
	#github-corner:hover .octo-arm {
		animation: none;
	}
	#github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

@media screen and (max-width:1200px){
h2:after{
	left:32%;}
#about h2:after{
	left:31%;}
#contact h2:after{
	left:28%;}
}

@media screen and (max-width:992px){
	#intro{
		height: auto;
		padding-top: 10vh;
		padding-bottom: 30vh;
	}
	.navbar-brand {
	    font-size: 30px;
	}
h2:after{
	left:28%;}
#about h2:after{
	left:28%;}
#contact h2:after{
	left:24%;}
}

@media screen and (max-width:768px){
	#intro{
		padding-bottom: 20vh;
	}
h2:after{
	left:25%;}
#about h2:after{
	left:25%;}
#about img{
	margin-bottom: 15px;}
#contact h2:after{
	left:20%;}
	.skills-name{
		font-size: 14px;
	}
}

@media screen and (max-width:650px){
h2:after, #about h2:after{
	left:20%;}
#contact h2:after{
	left:15%;}
.buttons{
	flex-direction: column;
}
.buttons a{
	padding: 2px 20px;
	margin: 3% 0;
	width: 250px}
}

@media screen and (max-width:550px){
h1{
	font-size: 70px;}
section{
	padding: 60px 0;}
h2:after{
	width: 30px;
	height: 30px;
	background-image:url(../../images/30.png);
	top:20px;
	left:20%;}

#about h2:after{
	left:13%;}
#contact h2:after{
	left:13%;}
}

@media screen and (max-width:480px){
h1{
	font-size: 50px;}
.slogan{
	font-size: 20px;}
	.buttons a{
	width: 200px}
h2{
	font-size: 50px;
	margin-bottom: 20px;}
h2:after{
	left:15%;}
#about h2:after{
	left:10%;}
#contact h2:after{
	left:5%;}
.socseti ul li{
	margin: 0 15px;}
}
@media screen and (max-width:375px){
	h2{
	font-size: 36px;
}
h2:after{
	top: 5px;
}
	.skills-name{
		font-size: 12px;
	}
}